@model Consume_API.Models.Todo

@{
    ViewData["Title"] = "Details";
}

<main id="main" class="main">
    <section class="section">
        <h1>Details</h1>

        <div>
            <h4>Todo</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.userId)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.id)
                </dd>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.title)
                </dd>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.completed)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Update" asp-route-todoId="@Model?.id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>